

.main-header{
    background: var(--header-background-color);
    display: flex;
    flex-direction: row;
    padding: .6rem 2rem;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;

    box-shadow: 0 .2rem .5rem rgba(0,0,0,.4);
    

    font-family: Roboto;
    color: var(--header-text-color);

    a {
        color: var(--header-text-color);
        text-decoration: none;
    }



    &__title{
        font-size: 2rem;
        margin: 0 2rem;
    }

    &__theme-toggler{

    }
}

.main-menu{

    ul{
        list-style: none;
        display: flex;
    }

    li{
        margin: 0 .2rem;

    }

    &__item{
        font-size: 1.4rem;
        text-transform: uppercase;
        padding: .2rem .5rem;
    }
}